*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
 body{
    height: 100%;
 } 
.section1 {
   // display: none;
    /* The image used */
    animation-name:opene;
    animation-duration: 1s; 
    background-image: url("8006.jpg");
   // width:100%;
    /* Full height */
    height: 800px; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .box{
        animation-name:openb;
        animation-duration: 0.5s;
        position: absolute;
        padding: 30px;
        height:80px;
        width:200px;
        background-color: black;
        p{
            color:white;
        }
        top:80%;
    }
   
}

.fa-angle-right{
    position: absolute;
    right:0;
    top:50%;
    color:teal;
    font-size: 101px;
}
.fa-angle-left{
    position: absolute;
    left:0;
    top:50%;
    font-size: 80px;
    color:red;
}

.section2{
    display: none;
    background-image: url("8009.jpg");
    animation-name:opene;
    animation-duration: 1s; 
    // width:100%;
     /* Full height */
     height: 800px; 
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     .box{
        animation-name:openb;
        animation-duration: 0.5s;
         position: absolute;
         padding: 30px;
         height:80px;
         width:200px;
         background-color: white;
         p{
             color:black;
         }
         top:80%;
     }
}

.section3{
    display: none;
    background-image: url("8008.jpg");
    // width:100%;
     /* Full height */
     height: 800px; 
     animation-name:opene;
     animation-duration: 1s; 
   
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     .box{
        animation-name:openb;
        animation-duration: 0.5s;
         position: absolute;
         padding: 30px;
         height:80px;
         width:200px;
         background-color: white;
         p{
             color:black;
         }
         top:80%;
     }
}


@keyframes opene{
    from{ opacity:0.5

    }
    to{ opacity:1}
}

@keyframes openb{
    from{ opacity:0.5

    }
    to{ opacity:1}
}